<header class="container d-flex flex-wrap justify-content-center align-items-center py-3 mb-4 border-bottom border-secondary border-opacity-50">
	<a href="{{ path('app_index') }}" class="d-flex flex-column align-items-left mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
		<img src="{{ asset('images/Logo.png') }}" width="150" alt="Logo Stubborn">
		<span class="fs-6">Don't compromise on your look</span>
	</a>

	<ul class="nav nav-pills">
		<li class="nav-item">
			<a href="{{ path('app_index') }}" class="nav-link {% if path == 'home'%} active {% endif %}" aria-current="page">Accueil</a>
		</li>
		{% if app.user %}
			<li class="nav-item">
				<a href="{{ path('app_products') }}" class="nav-link {% if path == 'products'%} active {% endif %}">Boutique</a>
			</li>
			<li class="nav-item">
            	<a href="{{ path('app_cart') }}" class="nav-link {% if path == 'cart'%} active {% endif %}">Panier</a>
			</li>
			<li class="nav-item ps-5">
				<a href="\logout" class="nav-link">Se déconnecter</a>
			</li>
		{% else %}
			<li class="nav-item">
				<a href="{{ path('app_register') }}" class="nav-link {% if path == 'register'%} active {% endif %}">S'inscrire</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('app_login') }}" class="nav-link {% if path == 'login'%} active {% endif %}">Se connecter</a>
			</li>
		{% endif %}
	</ul>
</header>
