{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <section class="container flex-grow-1 mt-5">
        {% include 'partials/flash_messages.html.twig' %}
        <div class="row bg-card-white border border-secondary border-opacity-50">
            <div class="col-6 d-flex justify-content-center p-3">
                <img src="{{ product.image ? asset('uploads/' ~ product.image) : asset('images/load_placeholder.png') }}" alt="Product image" width="50%">
            </div>
            <div class="col-6 p-5">
                <form action="{{ path('app_add_to_cart') }}" class="h-100" method="POST">
                    <div class="form-group d-flex flex-row justify-content-between h-50 gap-3">
                        <div class="w-50">
                            <h2 class="mb-3 border-bottom border-warning w-auto">{{ product.name }}</h2>
                            <span class="fs-4">Prix - </span>
                            <span class="text-muted fs-4">{{ product.price }} €</span>
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="user" value="{{ app.user.id }}"> 
                            <input type="hidden" name="token" value="{{ csrf_token('create_cart_item') }}">           
                        </div>                    
                        <div class="w-50">
                            <select name="size" id="size" class="form-select w-100">
                                <option value="">Taille</option>
                                <option value="XS">XS</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group d-flex justify-content-end align-items-end mt-5 pb-3 h-50">
                        <button type="submit" class="btn btn-warning rounded-pill ps-5 pe-5">Ajouter au panier</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
