{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <section class="container flex-grow-1 mt-5">
        <div class="row bg-card-white border border-secondary border-opacity-50">
            <div class="col-6 d-flex justify-content-center p-3">
                <img 
                src="{{ product.image ? asset('uploads/' ~ product.image) : asset('images/load_placeholder.png') }}" 
                alt="Product image" 
                width="50%">
            </div>
            <div class="col-6 p-5">
                <form action="{{ path('app_add_to_cart') }}" class="h-100" method="POST">
                    <div class="form-group d-flex flex-row justify-content-between h-50 gap-3">
                        <div class="w-50">
                            <h2 class="mb-3 border-bottom border-warning w-auto">{{ product.name }}</h2>
                            <span class="fs-4">Prix - </span>
                            <span class="text-muted fs-4">{{ product.price }} €</span>
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="user" value="{{ app.user.id }}"> 
                            <input type="hidden" name="token" value="{{ csrf_token('create_cart_item') }}">           
                        </div>                    
                        <div class="w-50">
                            <select name="size" id="size" class="form-select w-100 mb-3">
                                <option value="">Taille</option>
                                <option value="XS">XS</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                            </select>
	    	                {% include 'partials/flash_messages.html.twig' %}
                        </div>
                    </div>
                    <div class="form-group d-flex justify-content-end align-items-end mt-5 pb-3 h-50">
                        <button type="submit" class="btn btn-warning rounded-pill ps-5 pe-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus me-2" viewBox="0 0 16 16">
                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"/>
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                            </svg>
                            Ajouter au panier
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
