<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ asset('styles/low_stock_email.css') }}">
  <title>Stubborn</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .text-danger {
            color: red;
        }

        .bg-danger {
            background-color: red;
        }
    </style>
 </head>
<body>
  <div class="container">
    <h1>Verifiez votre stock</h1>
    <div class="d-flex justify-content-center">
        {% if products is not empty %}
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>XS</th>
                        <th>S</th>
                        <th>M</th>
                        <th>L</th>
                        <th>XL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td class="{% if product.stock.XS < 3 %} bg-danger {% endif %}">{{ product.stock.XS }}</td>
                            <td class="{% if product.stock.S < 3 %} bg-danger {% endif %}">{{ product.stock.S }}</td>
                            <td class="{% if product.stock.M < 3 %} bg-danger {% endif %}">{{ product.stock.M }}</td>
                            <td class="{% if product.stock.L < 3 %} bg-danger {% endif %}">{{ product.stock.L }}</td>
                            <td class="{% if product.stock.XL < 3 %} bg-danger {% endif %}">{{ product.stock.XL }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div> 
  </div>
 </body>
</html>
